:root{
    --color-basic: #e9eef5;
    --color-icon: #ffffff;
    --background-basic: #E1E2E1;
    --background-top-bar : #001700;
    --background-list: #003a00;
    --background-hover: #32652b;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration:none;
}

body, html{
    background: var(--background-basic);
    width: 100%;
    height: 100%;
}

nav, nav ul{
    height: 1.5em;
    background: var(--background-top-bar);
}

.tab{
    display: flex;
    justify-content: start;
    cursor: default;
    text-align: center;
}

.tab li{
    width: auto;
    border: none;
    background: var(--background-list);
    color: var(--color-basic);
    margin-left: 0.5em;
    padding: 0 0.5em;
}

.menu{
    display: block;
}

.menu-list{
    display: none;
    position: absolute;
    left: 0.5em;
    top: 1.9em;
    background: #585f6e;
    width: 10em;
    height: 6.15em;
    border: 1px solid black;
    color: white;
    font-size: 0.8em;
    cursor: default;
}

.menu-list li{
    height: 1.5em;
    padding-left: 0.5em;
    padding-top: 0.1em;
}

.menu-list li:hover{
    background: var(--background-hover);
}

.fa-times{
    color: #c5d0e0;
    font-size: 16px;
    align-self: center;
}

.fa-times:hover{
    background: var(--background-hover);
}

.newTab{
    display: flex;
    font-size: 0.9em;
}

.newTab:hover{
    background: var(--background-hover);
}

.newTab i{
    width: 16px;
    height: 16px;
    margin-right: 0.3em;
}

.section{
    width: 100%;
    height: 100%;
}

.textarea{
    display: none;
    width: 100%;
    height: 100%;
}

.tabText{
    padding: 0.1em 0.5em;
}

.open-list{
    display: flex;
    flex-direction: column;
}

.save-File{
    display: none;
}

.differentName-SaveFile{
    display: none;
}

.list-contain{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
    display: none;
    flex-direction: column;
}

.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background-top-bar);
    color: var(--color-basic);
    height: 2em;
}

.top-bar p{
    margin-left: 0.5em;
    cursor: default;
}

#file-list-icon{
    padding: 0 0.1em;
    margin: 0 0.5em;
}

.key-List{
    display: block;
    background: var(--background-list);
    color: var(--color-basic);
    padding-left: 0.5em;
    height: 2em;
    border: 1px solid #404552;
    padding-top: 0.2em;
}

.key-List:hover{
    background: var(--background-hover);
}